# Django secret key
SECRET_KEY=

# DB Settings
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Allowed hosts
ALLOWED_HOSTS=

# SMTP
SMTP_USERNAME=
SMTP_PASSWORD=

# APIs
# STRIPE
STRIPE_API_KEY=

# CELERY
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
EMAIL_HOST=
EMAIL_PORT=