# Django secret key
SECRET_KEY=

# DB Settings
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Allowed hosts
ALLOWED_HOSTS=

# SMTP
SMTP_USERNAME=
SMTP_PASSWORD=

# APIs
# STRIPE
STRIPE_API_KEY=

# CELERY
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
EMAIL_HOST=
EMAIL_PORT=